<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cornell.cs5412.handy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cornell.cs5412.handy.LoginActivity"
           	android:configChanges="locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.cornell.cs5412.handy.serviceprovider.SPProfile"
           	android:configChanges="locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.cornell.cs5412.handy.serviceprovider.SPConfirmation"
           	android:configChanges="locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.cornell.cs5412.handy.servicereceiver.SRHomeSearch"
            android:configChanges="locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.cornell.cs5412.handy.servicereceiver.ServiceDetails"
            android:configChanges="locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.cornell.cs5412.handy.servicereceiver.ServiceReview"
           	android:configChanges="locale"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        
    </application>

</manifest>
